<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GrigoBite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="#" class="scroll_top" id="scroll-top">
    <i class='bx bx-chevrons-up scroll_top_icon'></i>
</a>

<!-- Header -->
<header id="header" class="menu-header">
    <nav class="nav-container body-container">
        <a href="#" class="nav-logo">GRIGOBITE</a>

        <div class="nav-menu" id="nav-menu-id">
            <ul class="nav-list">
                <a href="#" class="button-nav btn-nav">login</a>
                </li>
            </ul>
        </div>

        <div class="nav-toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>s
        </div>
    </nav>
</header>
<main>
    <!-- Home -->
    <section class="home" id="home" style="background-image: url('../static/img/background.jpg');">
        <div class="home-container body-container body-grid">
            <div class="home-data" style="text-align: left; margin: 0; padding: 0 0 0 20px;">
                <h1 class="home-title" style="text-align: left;"><span class="letter">G</span>rigo Bite</h1>
                <h2 class="home-subtitle" style="text-align: left;">Order with Ease, <br>Savor with Joy! <br> </h2>
                <div class="btn-menu">
                    <a href="#" class="button btn-menu">Order Now!</a>
                </div>
            </div>
        </div>
    </section>
</main>
    <!-- Scroll Reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>
